.custom-card {
    background-color: white;
    color: 'white'
}

.custom-button {
    background-color: #509bf4 !important;
    color: white;
    border: none;
}

.white-button {
    background-color: white;
    border: none;
}

.white-button:hover {
    background-color: #509bf4;
    border: none;
}

.pink-button {
    background-color: #de5843;
    border: none;
}

.pink-button:hover {
    background-color: #e47c65;
    border: none;
}