.container {
    margin: 40px;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
  }
  
  .song {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .followers {
    font-size: 16px;
    color: #888;
  }