.card {
    background-color: #f0eaff;
    color: 'white'
}

.card-title {
    font-family: Roboto; 
  }

.card-text {
    font-family: Roboto; 
}

.progress-label {
    font-family: Roboto;
}

.custom-button {
    background-color: #ff6347;
    color: white;
    border: none;
}